//status colors
$red: #FF4C4C;
$green: #4CAF50;
$yellow: #FFFF00;

$blue1: #3232ff;
$blue2: #0000FF;
$purple: #5d4199;

//shadow effects
$shadow-lite: rgba(255,255,255,.7);
$shadow-dark: rgba(0,0,0,.5);

// grey: from light to dark
$grey1: #DDDDDD;
$grey2: #D3D4D8;
$grey3: #BBBBBB;
$grey4: #AAAAAA;

//black: from light to dark
$black1: #3D3D3D;
$black2: #333;
$black3: #222;
$black4: #111;