@import './variables';

.bug-card {
  position: relative; //for placing trash icon
  min-width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  color: $grey1;
  
  border: 3px solid black;
  border-radius: 25px;

  box-shadow: 5px 5px 5px $shadow-dark,
              -5px -5px 5px $shadow-lite;

  //all sections
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 15px;
  }

  //title
  &-title {
    background: $black4;

    font-size: 2rem;
    font-variant: small-caps;

    border-radius: 20px 20px 0 0;
  }

  //status
  &-status {
    height: 15px;

    //status colors
    &.submitted {
      background: $red;
    }

    &.in-progress {
      background: $yellow;
    }

    &.resolved {
      background: $green;
    }
  }

  //description
  &-description {
    background: $grey2;
    color: $black4;
    font-size: 1.5rem;
  }

  //info
  &-info {
    position: relative; //for sunken-in look
    
    background: $grey4;

    color: white;
    font-weight: bold;
    
    display: grid !important; //override flex from bug-card > div
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    
    border-radius: 0 0 25px 25px;
    

    &::after { //sunken-in look
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;

      border-radius: 0 0 25px 25px;
      box-shadow: inset 3px 3px 3px $shadow-dark,
                  inset -3px -3px 3px $shadow-lite;
    }
    
    & > div:not(:last-child) {
      border-right: 2px solid $shadow-dark;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      padding: 5px 0;

      & .title {
        text-decoration: underline;
        font-variant: small-caps;
      }
    }
  }
}

//move delete icon to a btn class//


  

