@import './variables';

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  background: $purple;
  font-variant: small-caps;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 10px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(-30deg, rgba(255,255,255,.01) 5%, 
                                        rgba(255,255,255,.2));
  }
}