.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;

  background: black;
  padding: 15px;
  border-right: 3px solid black;
}

.logo {
  position: absolute;
  flex: 0 1 auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;

  & i {
    margin-left: 10px;
    margin-right: 10px;
  }

  & .title {
    font-variant: small-caps;
    letter-spacing: 5px;
  }
}

.menu-item {
  font-size: 1.3rem;

  & .btn i {
    margin-right: 10px;
  }
}